<h1>Welcome <%= @user.name %>!</h1>

<p>Thank you for signing up. Please confirm your email address by clicking the link below:</p>

<p>
  <%= link_to "Confirm Email", @confirmation_url %>
</p>

<p>Or copy and paste this link in your browser:</p>
<p><%= @confirmation_url %></p>

<p>This link will expire in 3 days.</p>

<hr>

<p>If you didn't sign up for this account, please ignore this email.</p>
